<div style='text-align: center; padding: 100px; font-family:arial; font-size: xx-large'> 
<%= @player_1.name %> attacked <%= @player_2.name %>!
<%= @player_2.name %> now has <%= @player_2.hit_points %> hitpoints!
</div>