<div style='text-align: center; font-family:arial'> 
    <form action= '/names' method='post' >
        <h1 style='color:red; font-family:arial'> Enter your names to fight! </h1>
        <label> Enter player 1 <input type="text" name="player_1"></label>
        <label> Enter player 2 <input type="text" name="player_2"></label>
        <input type="submit" value="Submit">
    </form>
</div>