<div style='text-align: center; padding: 100px; font-family:arial; font-size: xx-large'> 
    <h1><span style='color:blue'><%=@player_1%></span> vs. <span style='color:red'><%=@player_2%></span></h1>
    <h2><span style='color:blue'> Hitpoints: 10</span> <span style='color:red'>Hitpoints: 10</span></h2>
    <a href="/attack">Attack!</a>
</div>
