<div style='text-align: center; padding: 200px; font-family:arial; font-size: xx-large'> 
    <h1><span style='color:blue'><%=@player_1%></span> vs. <span style='color:red'><%=@player_2%></span></h1>
</div>